<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Index Animales (Listar)</title>
</head>
<body>

    <nav th:fragment="cabecera" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">MyIkea</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="'/productos'">Muebles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/pedidos'">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/carrito'">Carrito</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:href="register">Register</button>
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" th:href="login">Login</button>
            </form>
            <span class="navbar-text">
    </span>
        </div>
    </nav>
<!--        <ul class="navbar-nav">

        </ul>-->

<!--    <span class="h-50">Animales</span>
    <a th:href="'/'" class="btn btn-primary">Inicio</a>
    <a th:href="'/create'" class="btn btn-primary">Crear Animal</a>-->

</nav>
</body>
</html>